/* You can add global styles to this file, and also import other style files */
@import "ag-grid-community/dist/styles/ag-grid.css";
@import "ag-grid-community/dist/styles/ag-theme-alpine.css";

button {
    width: 400px;
    padding: 10px auto;
    opacity: .5;
    border-radius: 5px;
}

button:hover {
    opacity: 1;
    cursor: pointer;
}
